*{
    margin: 0px;
    padding:0px;
}
body{
    background:rgb(43, 41, 39);
    width: 100vw;
    height: 100vh;

}
.header{
    width: 100vw;
}
.navbar-style{
    /* box-shadow:0px 1px 4px rgb(128, 125, 125); */
    /* background-color: grey; */
}
.logo{
    
    padding: 2px 10px ;
    margin-top: -70px;
}
.icon-bar{
    background: rgb(56, 55, 55);
}
li a{
    color: white;
    font-size: 15px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
li a:hover{
  color: rgba(0,0,0,0.8);

}
a{
  text-decoration: none;
}
header > nav{
    background-image: url('Images/Wallpaper2.jpg');
    background-position: center;
    padding: 2px;
    width: 100vw;
    
    
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    margin-top: 50px;
    margin-left: 150px;
    width: 40%;
    max-width: 70;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: right;
    padding: 10px;
    width: 10%;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-right: -80px;
    cursor: pointer;
    margin-top: 50px;
    margin-right:566px;
    max-width: 70px;
}  
form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}
section{
    color: white;
}
#header{
    margin-left: 150px;
    color:white;
    font-size: 60px;
    font-weight: 900;
    
}
#header2para{
    font-size: 20px;
    margin-left: 30px;
}
#categories{
    margin-left: 200px;
    margin-top: 50px;
    font-size: 50px;
    color:white;
}
.button{
    background-color: grey;
    border-style: none;
    width: 150px;
    height: 50px;
    color: white;
    font-weight: 800;
    cursor: pointer;
    margin-left: 250px;
    margin-top: 30px;
    border-radius: 10px;
    margin-bottom: 50px;
}
#Allgames{
    width: 100px;
    height: 50px;
    margin-left: 350px;
    margin-top: 30px;
    background-color: grey;
    color: white;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}
#action{
    width: 200px;
    height: 230px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
#action2{
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.one{
    margin-left: 50px;
    margin-right: 150px;
    margin-top: 30px;
}
#footer{
    padding: 130px;
    background-color: rgb(24, 24, 23);
    width: 100vw;
}
#link{
    margin-left: 10px;
    margin-top: 2px;
    cursor: pointer;
    position: relative;
}
#image{
    padding-left: 100px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: relative;
}  
.links{
    margin-left: 150px;
    margin-top: -100px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    
}
.links a{
    color: white;
}
.links a:hover{
    color: purple;
}

/* Dashed border */
.dashed {
    border-top: 1px dashed rgb(231, 231, 231);
    margin-top: 20px;
}
#iconbuttom{
    margin-left: 400px;
    margin-top: -50px;
}
#footerPara{
    color: rgb(209, 207, 207);
    font-size: 15px;
    margin-left: 190px;
    margin-top: -50px;
}
#footercontact{
    color: rgb(209, 207, 207);
    margin-left: 350px;
    margin-top: 8px;
    display: flex;
}
.contactlink{
    margin-left: 5px;
    color: lightblue;
}
.contactlink a:hover{
    color:purple;
}
.linkCon{
    color: lightblue;
    margin-left: 10px;
}
.link2{
    margin-left: 55px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    
}
.link2 a{
    color: white;
}
.link2 a:hover{
    color: purple;
}
.linkref{
    margin-left: 90px;
}
.link2 p{
    font-size: 30px;
    margin-top: -10px;
    color: white;
}
.end{
    margin-top: 10px;
    margin-left: 300px;
    margin-bottom: -110px;
}
#copyright{
    width: 15px;
    height: 15px;
}
#lastline{
    color: white;
    margin-left: 30px;
    margin-top:-25px ;
}
@media only screen and (max-width: 768px) {
    #Allgames{
        margin-left: 50px;
        margin-top: 30px;
        width: 150px;
        font-weight: 700;
    }
    #categories{
        margin-left: 10px;
        font-size: 25px;
        font-weight: 800;
        color: white;
        text-transform: uppercase;
    }
    .one{
        margin-left: 10px;
    }
    #action{
        width: 300px;
        height: 300px;
    }
    .button{
        margin-left: 50px;
    }
    .links{
        margin-left: -120px;
    }
    #image{
        padding-left: 10px;
        width: 30px;
        height: 20px;  
    }  
    .dashed{
        margin-left: -70px;
        width:250px ;
    }
    #iconbuttom{
        margin-left: -50px;
        margin-top: -80px;
    }
    #footerPara{
        font-size: 15px;
        margin-left: -70px;
        margin-top: -50px;
    }
    #footercontact{
        margin-left: -70px;
        margin-top: 9px;
    }
    .link2{
        margin-left: -90px;
        margin-top: 5px;
    }
    .linkref{
        margin-left: 10px;
    }
    .end{
        margin-top: 10px;
        margin-left: -90px;
        margin-bottom: -110px;
    }
    #action:nth-child(6){
        display: none;
    }#action:nth-child(7){
        display: none;
    }#action:nth-child(8){
        display: none;
    }#action:nth-child(9){
        display: none;
    }#action:nth-child(10){
        display: none;
    }#action:nth-child(11){
        display: none;
    }#action:nth-child(12){
        display: none;
    }#action:nth-child(13){
        display: none;
    }#action:nth-child(14){
        display: none;
    }#action:nth-child(15){
        display: none;
        
    }
}